<div class="container">
    <h1>🖼️ Unir Imágenes en JPG</h1>
    <form action="/util/unir-imagenes-jpg" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Imágenes</legend>
            <label>Selecciona las imágenes (PNG, JPG, BMP, GIF):</label>
            <input type="file" name="imagenes" accept=".png,.jpg,.jpeg,.bmp,.gif"
                   multiple required onchange="listarArchivos(this, 'lista-unir-jpg', '🖼️')">
            <span class="help-text">Se unirán en el orden en que las selecciones.</span>
            <div id="lista-unir-jpg"></div>
        </fieldset>
        <fieldset>
            <legend>Orientación</legend>
            <label>
                <input type="radio" name="orientacion" value="vertical" checked> Vertical (una debajo de otra)
            </label>
            <label>
                <input type="radio" name="orientacion" value="horizontal"> Horizontal (una al lado de otra)
            </label>
        </fieldset>
        <button type="submit" class="submit-btn">⬇️ Descargar JPG</button>
    </form>
</div>
